/* content
    1. Header;
    2. Main;
    3. Typography;
    4. Buttons;
    5. Media Queries.

 */



body {
  font-size: 16px;
}

/* Header Start */
header {
  background-color: #9F9C98;
  font-family: 'Roboto', sans-serif;
  padding: 14px 10px;
  height: 58px;
  box-sizing: border-box;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header li a {
  text-transform: uppercase;

  color: #fff;

  font-size: 14px;

}
header ul li {
  display: none;
}
header ul li:nth-child(1) {
  order: 0;
  display: inline;
}
header ul li:nth-child(2) {
  order: -1;
  display: inline;
}
header ul li:nth-child(3) {
  display: inline;
}

/* Header End */


/* Main Start */

main {
  display: flex;

  margin: 52px 25px;

  font-family: 'Roboto', sans-serif;

  align-items: center;
  flex-flow: column wrap;
}
main img {
  width: 150px;
}
.content {
  margin-top: 44px;

  text-align: center;

  flex-flow: row wrap;
}


/* Typography Start */

.content h1 {
  margin: 0 0 7px 0;

  font-size: 28px;
  font-weight: 700;

  order: 0;
}
.content h2 {
  margin: 0 0 25px 0;

  font-size: 22px;
  font-weight: 300;

  order: 1;
}
.content p {
  text-align: left;
  line-height: 25px;
  font-weight: 300;
}
.content p:first-of-type {
  margin: 25px 0;
}
.content a {
  text-align: center;
  text-decoration: none;
}
.content a:first-of-type {
  display: inline-block;

  margin-right: 33px;
  padding: 7px 43px;

  color: #fff;
  border-radius: 5px;
  background-color: #417BEA;
}

/* Typography End */


/* Buttons */
.content span {
  display: inline-block;

  width: 100%;
  font-weight: 700;
  text-align: left;
}

/* Main End */


/* Media Queries Block */

@media all and (min-width: 375px) {
  main {
    align-items: flex-start;
  }
  .content {
    text-align: left;
  }
}

@media all and (min-width: 768px) {

  header ul li {
    display: inline;
  }
  header ul li:nth-child(1) {
    order: -1;
    flex-basis: 30%;
  }
  header ul li:nth-child(2) {
    display: none;
  }
  main {
    flex-flow: row nowrap;
    align-items: flex-start;
  }
  main img {
    margin-right: 25px;
  }
  .content h1 {
    margin: 0;
    margin-bottom: 33px;
  }
  .content {
    display: flex;

    margin-top: 0;

    text-align: left;

    flex-basis: 60vw;
  }
  .content h2 {
    order: -1;
    width: 100%;
    margin-bottom: 5px;
}
  }
}
