@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
}

header, .first, .buttons, .text {
  font-family:'Roboto', sans-serif;
}

nav {
  height: 58px;
  margin-bottom: 45px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background: #9F9C98;
}

span {
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: #E5E5E5;
}

.cost, .about, .login {
  display: none;
}

.userpic img {
  width: 30px;
  height: 30px;
}

.first {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.book-cover {
  width: 161px;
  height: 226px;
  margin-bottom: 50px;
}

.author-name {
  display: inline-block;
}

h1 {
  margin-bottom: 5px;

  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 28px;
  text-align: center;

  color: #000000;
}

h2 {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 22px;
  text-align: center;

  color: #000000;
}

.buttons {
  margin-bottom: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
}

a:after {
  color: inherit;
}

.read {
  padding-top: 12px;

  color: #FFFFFF;
  width: 123px;
  height: 33px;
  background: #417BEA;
  border-radius: 3px;
  margin-right: 40px;
}

.save {
  font-style: normal;
  font-weight: bold;
  line-height: normal;

  color: #417BEA;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 25px;

  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  font-size: 18px;
  text-align: left;

  color: #000000;
}

@media (min-width: 768px) {
  .cost, .about, .login {
    display: block;
  }

  .menu {
    display: none;
  }

  .userpic {
    order: 1;
    padding-right: 40vw;
  }

  .search {
    order: 2;
  }

  .cost {
    order: 3;
  }

  .about {
    order: 4
  }

  .login {
    order: 5
  }

  .first {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin-bottom: 0px;
  }

  .book-cover {
    width: 168px;
    height: 235px;

    margin-left: 42px;
    padding-right: 23px;
    margin-bottom: 10px;
  }

  .author-name {
    display: block;
    margin-top: -175px;
  }

  h1, h2 {
    text-align: left;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    margin-left: 236px;
    margin-top: -55px;
  }

  p {
    margin-left: 236px;
  }
}
