*
{
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', sans-serif;
}
header
{
    font-family: 'Roboto', sans-serif;

    display: flex;

    height: 56px;
    padding: 15px 29px;

    color: #e5e5e5;
    background-color: #9f9c98;

    justify-content: space-between;
}

header ul
{
    display: flex;
}
header li a,
header a
{
    font-size: 14px;

    text-transform: uppercase;

    color: #fff;
}
header ul li
{
    display: none;
}
header ul li:nth-child(1)
{
    display: inline;
}
.circle
{
    width: 30px;
    height: 30px;

    border-radius: 50px;
    background: #e5e5e5;
}
main
{
    font-family: 'Roboto', sans-serif;

    display: flex;

    margin: 48px 22px;

    flex-flow: column wrap;
    align-items: center;
}
main img
{
    width: 150px;
}
h1
{
    font-size: 33px;
    font-weight: 700;
    line-height: 25px;

    padding-top: 50px;
    padding-right: 20px;
    padding-left: 73px;
    /* font-family: 'Roboto', sans-serif; */

    color: black;
}
h2
{
    font-family: 'Roboto', sans-serif;
    font-size: 26px;
    font-weight: 300;
    line-height: 55px;

    padding-top: 10px;
    padding-right: 20px;
    padding-left: 57px;

    color: black;
}
p
{
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    line-height: 24px;

    margin-bottom: 15px;
    /* font-family: 'Roboto', sans-serif; */

    text-align: left;

    color: black;
}


a.button24
{
    font-size: 19px;
    font-weight: 37;

    display: inline-block;

    margin-bottom: 25px;
    padding: .5em 2em;

    transition: .2s;

    color: white;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #00f;
    border-radius: 6px;
    outline: none;
    background: #00f;
}
a.button24:hover
{
    background: #00f;
}
a.button24:active
{
    background: #00f;
}
a.button25
{
    margin: 20px;
}

@media all and (min-width: 768px)
{
    h1
    {
        width: 305px;
        padding-top: 10px;
        padding-left: 0;
    }
    h2
    {
        padding-top: 23px;
        padding-left: 0;
    }
    header ul li
    {
        display: block;

        margin-right: 38px;
    }
    header > a
    {
        display: none;
    }
    header ul
    {
        order: 0;
    }
    header ul li:nth-child(4)
    {
        margin: 0;
    }
    main
    {
        flex-flow: row nowrap;
        align-items: flex-start;
    }
    main img
    {
        width: 168px;
        margin-right: 25px;
    }
}
