@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



html {
	font-family: 'Roboto', sans-serif;
}

nav {
  width: 100%;
  height: 58px;
  background-color: #9F9C98;
}

nav img {
  position: absolute;
  left: 145px;
  top: 14px;
}

nav ul {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
}

section {
	width: 100%;
}

section img {
	width: 150px;
	height: 226px;
	position: relative;
	padding-left: 88px;
	padding-top: 44px;
}

.go {
	font-size: 28px;
	font-weight: bold;
	position: relative;
	padding-top: 44px;
	padding-left: 22px;
}

.harper {
	font-size: 22px;
	font-weight: lighter;
	padding-top: 17px;
	padding-left: 107px;
}

section a {
	text-decoration: none;
}

.read {
	width: 123px;
	height: 33px;
	background-color: #417BEA;
}

.read a {
	position: relative;
	left: 43px;
	top: 7px;
}
