@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

p {
    line-height: 20px;
}

body {
  text-decoration: none;

  font-family: 'Roboto', sans-serif;
}
article {
  margin: 20px;
}

.img {
  margin: 0 auto;
}

h1 {
  font-size: 28px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

h1, h2 {
  text-align: center;
}

.img {
  margin: 46 auto 0 0;
}

header {
  background-color: #9F9C98;
}

@media (min-width: 768px) {
  header {
    text-align: left;
  }

.all {
  display: flex;
  flex-direction: row;
}

  h1, h2 {
    text-align: left;
  }

}
