@import "reset.css";
@import "fonts.css";

body {
  width: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: absolute;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: row;

  width: 320px;
  height: 58px;

  text-decoration: underline;
  text-transform: uppercase;

  color: #E5E5E5;
  background: #9F9C98;

  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;

  justify-content: space-between;
  align-items: center;
}

header img {
  width: 30px;
  height: 30px;
  margin-top: 4px;
  margin-right: 78px;
  margin-left: 78px;
}

ul {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.search {
  margin-left: 15px;
}

.price, .about, .login {
  display: none;
}

.menu {
  display: block;

  margin-right: 258px;
  margin-left: 15px;
}


img {
  width: 150px;
  height: 226px;
  margin-top: 104px;
  margin-left: 88px;
}

.bookname {
  position: absolute;
  top: 374px;
  left: 21px;

  width: 277px;
  height: 33px;

  text-align: center;

  color: #000000;

  font-family: Roboto;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.bookauthor {
  position: absolute;
  top: 414px;
  left: 107px;

  width: 106px;
  height: 26px;

  text-align: center;

  color: #000000;

  font-family: Roboto;
  font-size: 22px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}

.read {
  position: absolute;
  top: 505px;
  left: 25px;

  width: 123px;
  height: 33px;

  background: #417BEA;}

.text {
  position: relative;
  top: 7px;
  left: 43px;

  width: 37px;
  height: 19px;

  color: #FFFFFF;

  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.save {
  position: absolute;
  top: 510px;
  left: 181px;

  width: 97px;
  height: 19px;

  color: #417BEA;

  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  line-height: normal;
}

.par1 {
  position: absolute;
  top: 573px;
  left: 25px;

  width: 271px;
  height: 178px;

  color: #000000;

  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;
}

.par2 {
  position: absolute;
  top: 731px;
  left: 25px;

  width: 271px;
  height: 178px;

  color: #000000;

  font-family: Roboto;
  font-size: 18px;
  font-weight: lighter;
  line-height: 25px;
}
