@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=cyrillic,cyrillic-ext');

.navbar {
  display: grid;

  height: 58px;

  text-transform: uppercase;

  background: rgb(79, 79, 79);

  grid-template-columns: repeat(5, 1fr);
  align-items: center;

}

.menu {
  grid-column-end: 6;
}

.menuplus {
  display: none;
}

a {
  text-decoration: none;
  text-decoration: underline;

  color: white;
}

#main {
  display: grid;

  padding-right: 1.7rem;
  padding-left: 1.7rem;

  grid-row-gap: 1.7rem;
}

body {
  font-family: "Roboto";
}

.search, .menu {
  text-align: center;

  color: white;
}

.book1, .buttons, .pic {
  text-align: center;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

h3 {
  margin-top: 1rem;

  font-size: 22px;
  font-weight: 300;
}

.donbass {
  margin: 2.2rem;
}

.book2 {
  display: none;
}

.buttons {
  display: grid;

  font-weight: 600;

  grid-template-columns: repeat(2, 1fr);
  justify-self: center;
}

.buttons>* {
  display: flex;

  width: 100px;
  height: 10px;

  align-items: center;
  justify-content: center;
}

.button1 {
  padding: 12px;

  color: white;
  border-radius: 3px;
  background-color: #417bea;
}

.button2 {
  padding: 12px;

  color: #417bea;
}

.pic {
  width: 30px;
  height: 30px;

  text-align: center;

  border-radius: 25px;
  background: rgb(205, 213, 208);

  grid-column-end: 4;
  justify-self: center;
}

p {
  font-weight: 300;
}

.book2__donbass {
  display: none;
}

.book2__info {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    grid-template-columns: repeat(8, 1fr);
  }
  .menu {
    display: none;
  }
  .search {
    grid-column: 5;
  }
  .pic {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .menuplus {
    display: flex;

    text-align: center;

    justify-content: space-around;
  }

  .info {
    grid-row: 1/2;
  }

  .buttons {
    grid-column: 2/2;
    grid-row: 2/3;
    justify-self: left;
    align-self: center;
  }

  .book1 {
    display: none;
  }

  .description {
    grid-row: 5/6;
    grid-column: 2/4;
  }

  .donbass {
    margin: 0;
  }

  #main {
    display: grid;

    margin-top: 2rem;

    grid-template-rows: 100px 40px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }

  p {
    grid-row: 1/3;
  }

  .book2__donbass {
    display: inline;

    grid-row: 1/7;
    grid-column: 1/3;
  }

  .book2__info {
    display: inline;

    grid-row: 1/2;
    grid-column: 2/3;
  }

  .book2__info h3 {
    margin: 0;
    margin-bottom: 0.7rem;
  }
}
