* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #9F9C98;
  height: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
}

li {
  font-family: 'Ubuntu', sans-serif;
  color: #E5E5E5;
  display: inline-flex;
  padding: 0 30px;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
}

.price, .about, .login {
  display: none;
}

.menu {
  display: flex;
}

.book {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

section img {
  width: 154px;
  margin-top: 46px;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 25px;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  color: #000000;
  font-weight: lighter;
  padding-top: 23px;
}

.bookbuttons {
  cursor: default;
  margin-top: 27px;
}

.bookbuttons a:first-child {
  color: #fff;
  background-color: #417BEA;
  margin-right: 33px;
  padding: 10px 45px;
  border-radius: 5px;
}

.bookbuttons a:last-child {
  color: #417BEA;
}

a {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: lighter;
  width: 265px;
  padding-top: 25px;
  padding-left: 30px;
  text-align: left;
  line-height: 25px;
}

@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  nav img {
    order: 1;
    padding-right: 30vw;
    padding-left: 10px;
  }

  .search {
    order: 2;
  }

  .price {
    order: 3;
  }

  .about {
    order: 4;
  }

  .login {
    order: 5;
    padding-right: 10px;
  }

  .price, .about, .login {
    display: flex;
  }

  .menu {
    display: none;
  }

  .book {
    align-items: flex-start;
    flex-direction: row;
  }

  section img {
    width: 172px;
    margin-left: 42px;
    margin-top: 33px;
  }

  article {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-left: 21px;
    text-align: left;
  }

  h1 {
    order: 2;
    width: 305px;
    padding-top: 10px;
    padding-left: 0px;
  }

  h2 {
    order: 1;
    padding-top: 40px;
  }

  .bookbuttons {
    order: 3;
    margin-top: 40px;
  }

  p {
    order: 4;
    width: 460px;
    padding-top: 35px;
    padding-left: 0px;
  }

}
