
@media all and (min-width: 768px)  {
  main {
    flex-flow: row nowrap;

    background-color: #fff;

    font-family: 'Roboto', sans-serif;
  }

  img {
    height: 60vw;
    margin-top: 140px;

    border: 1px solid grey;
  }

  .name,
  .author,
  .button {
    width: 80vw;
  }

  .name {
    margin-top: 140px;

    text-align: center;

    font-size: 80px;
    font-weight: 600;
  }

  .author {
    width: 80vw;
    margin-top: 30px;

    text-align: center;

    font-size: 65px;
    font-weight: 200;
  }

  a {
    text-decoration: none;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 100px;

    font-size: 50px;
  }

  .button-1 {
    justify-content: flex-start;

    padding: 20px 120px;

    color: white;
    border-radius: 10px;
    background-color: #3243FF;

  }

  .button-2 {
    justify-content: flex-end;

    padding: 20px 40px;

    color: #3243FF;
  }

  .description {
    width: 80vw;
    margin-top: 100px;
    margin-bottom: 100px;

    font-size: 50px;
    font-weight: 200;
    line-height: 90px;
  }
}


//////



body {
  font-family: 'Roboto', sans-serif;
}

main {
  display: flex;
  align-items: center;
  flex-flow: column wrap;

  margin: 50px 80px;
}

.text {
  margin-top: 48px;

  text-align: center;
}

main img {
  width: 168px;
}

.text h1,
.text.button {
  font-weight: bold;
}

.text h2,
.text p {
  font-weight: 200;
}

.text h1 {
  margin: 0 0 7px 0;

  font-size: 28px;
}

.text h2 {
  font-size: 22px;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.text .button {
  margin: 25px;

  font-size: 16px;
}

.text p {
  text-align: left;

  font-size: 18px;
}

.button-1 {
  display: inline-block;

  margin-right: 33px;
  padding: 7px 43px;

  color: #fff;
  border-radius: 5px;
  background-color: #3243FF;
}

.button-2 {
  color: #3243FF;
}


@media all and (min-width: 768px) {
  main {
    flex-flow: row ;
  }
  main img {
    width: 150px;
  }
  .content h1 {
    margin-top: 0px;
  }
}
